.search{
    height: 5vh;
    border: 1px solid black;
    border-radius: 10px;
}
img{
    margin-top: 15%;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    

}
.foods{
    margin-right: 10%;
    flex: 0 0 auto;
    text-align: center;
    width:55vw;
    height: 46vh;
    overflow-wrap: break-word;
    
}
.item-list{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.card {
    background-color: #fefefe;
    border: #fefefe;
    border-radius: 30px;
    box-shadow: 3px 3px 0px #8888883e;
}
.circle-for-heart{
    color: black;
    background-color: #8888883e;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    text-align: CENTER;
    line-height: 30px;
    margin-top: -2vh;

}
.toggle-like{
    color: red;
    background-color: #8888883e;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    text-align: CENTER;
    line-height: 30px;
    margin-top: -2vh;
}